.text{
    width: 70%;
    display: flex;
    height: 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
#text{
    border: none;
    width: 90%;
    height: 90%;
}

.send{
    height: 60%;
    width: 6%;
    margin-left: 5px;
    background-color: rgb(210,106,51);
    border: none;
    border-radius: 50%;
    cursor: pointer;
   
    
}

#text:focus{
    outline: none;
}   
.chatarea{
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    overflow: auto;
}
.chatarea::-webkit-scrollbar {
  width: 6px;
}
.chatarea::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
}
.chatarea:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.6);
}

.send{
    border: none;
    background-color: transparent;
    border-radius: 5px;
    height: 100%;
    transition: all 0.3s ease;}
svg{background-color: transparent;}
.send:hover svg{
    background-color: transparent;
    stroke: white;
}
.send:hover{
    cursor: pointer;
}
#form{
    background-color: rgb(242, 229, 206);
    align-self: center;
    justify-self: center;
    background-color: rgb(108, 100, 100);
    font-size:x-large ;
    border-radius: 30px;
    display: flex;
    max-width: 50%;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    border: 1px solid #888;
    
}

.loago{
    width: 90%;
    height: 70%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-self:center;
    align-items: center;
}
.empty h2{
    letter-spacing: 2px;
    font-size:40px;
    justify-self: center;
}
#form svg{
    height: 60%;
    width: 90%;
    margin-right: 55px;
    stroke: white;
}
    
    
    #form:focus{
        background-color: transparent;
    }
    

input::placeholder {
  color: white;
}
    #messagei{
        width: 80%;
        height: 90%;
        color: aliceblue;
        font-size: large;
        margin-left: 2%;
        border: none;
        background-color: rgb(108, 100, 100);
}
#messagei:focus{
    outline: none;
}
.answer{

    min-width: 10%;
    max-width: 60%;
    border-radius: 10px;
    font-size: x-large;
    position: relative;
    background-color:bisque;
    height: auto;
    width: auto;
    padding: 5px 8px;
    
    color: #35113d;
    margin-bottom: 40px;
    word-wrap: break-word;
}


.question{
    min-width: 10%;
    max-width: 30%;
   font-size: x-large;
    position: relative;
    background-color:bisque;
    height: auto;
    width: auto;
    padding: 5px 8px;
    border-radius: 10px;
    color: #35113d;
    margin-bottom: 40px;
    word-wrap: break-word;
   

}
.question{ justify-self: right;
margin-right: 5%;}
.answer{ justify-self: left; margin-left: 5%;}
