.mainpage{
    width:85%;
    display: flex;
    color: white;
    height: 100vh;
    flex-direction: column;
    
}
.group{
    height: 90%;
    display: flex;
width: 100%;}
.upbar{
    align-items: center;
    border-bottom: 1px solid rgb(170, 168, 168);
    width:100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 10px;

}
.docu{
    height: 100%;
    
    background-color: rgba(82, 83, 84, 0.19);
    width:35%;
    border: 1px solid rgb(182, 179, 179);
    border-top: none;
    border-left: none;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
.chat{
    height: 100%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.widthfa{width: 100%;}
.widthha{width: 70%;}
