.docu h1{
    color: black;
    background-color: transparent;
}
.document{
    height: 80%;
    padding: 0.5em;
    overflow-y: scroll;
    overflow: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
   
}
.document::-webkit-scrollbar {
    width: 18px;
height: 25px;}

.clse{
    font-size: 54px;
    font-weight: 300;
    width: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease-in;
}
.clse:hover{
    color: red;
}
.pretext{
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 4px 0;
    padding: 18px;
    background-color: rgb(238, 242, 245);
    transition: all 0.2s ease-in;
    height: fit-content;   
}

.tite{
    width: 80%;
    letter-spacing: 1px;
    background-color: transparent;
    font-size: 25px;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.upper{
    height: 8%;
    display: flex;
    width: 90%;
    justify-self: center;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    justify-items: right;
    
}

.meta{
    background-color: transparent;
}
.pretext span{
    background-color: transparent;
    font-size: 1.2em;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    font-weight: 500;
}
.document a:hover{
    background-color: rgba(174, 130, 55, 0.19);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

iframe{
    width: 100%;
    height: 100%;
}
.prefile{
    width: 100%;
    height: 92%;
    background-color: transparent;

}

.upad{
    border: 1px solid #888;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 30px;
    background-color: rgb(210, 222, 247);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.upad:hover{
    background-color: rgb(199, 151, 92);
   
}

.pretext:hover{
    background-color: rgb(225, 179, 123);
    cursor: pointer;
     box-shadow:  5px 8px 8px rgba(50, 49, 49, 0.584);
}

.document::-webkit-scrollbar {
  width: 6px;
}
.document::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
}
.document:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.6);
}
