.sidebar{
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    border-right: 1px solid rgb(170, 168, 168);
    height: 96vh;
   
}
h1{
    margin: 10px;
}
.sidebar h1{
    width: 80%;
    height: 3%;
    margin: 0px;
    margin: 2em;
    color: black;
}

.pages{
    width: 100%;
    height: 30%;
    
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}

.logo h2{
    font-size: medium;
}

.logo svg{
    height: 100%;
}
.butgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
}

.logo{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0%;
    font-size: x-large;
   
}

.butgroup button{
    width: 100%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    background-color: rgb(247, 211, 168);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    transition: all 0.3s ease;
}

.butgroup button:hover{
     background-color: rgba(251, 220, 176, 0.533);
      box-shadow:5px 5px 15px #504f4f;

}

.butgroup svg{
    background-color: transparent;
    stroke-width: 1px;
}
.butgroup h2{
    background-color: transparent;
}
h1{
    color: black;
}
.charts{
    width: 80%;
    height:50%;
    margin-bottom: 70px;

}
.cha{
    padding: 10px;
}
.chna,.da{
    width: 100%;
    height: 60px;
    margin-bottom: 3px;
    color: #504f4f;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.cha span{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .cha{
    width: 80%;
    height: 7%;
    border-radius: 10px;
    text-justify: center;    
    border: none;
    background-color: rgb(233, 213, 189);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 0px;
    transition: all 0.3s ease;
}
.charts .cha:hover{
      background-color: rgba(251, 215, 166, 0.533);
      box-shadow:5px 5px 15px #504f4f;
}