.sidebar{
    width:20%;
    background-color: rgb(239, 241, 243);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    height: 100vh;
   
}
h1{
 margin: 0%;
}
.sidebar h1{
    width: 80%;
    height: 3%;
    padding: 10%;
    margin-top: 10%;
    color: black;
}

.pages{
    width: 100%;
    height: 30%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}

.logo h2{
    font-size: medium;
}

.logo svg{
    height: 100%;
}
.butgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
}

.logo{
    margin-top: 1em;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0%;
    font-size: x-large;
   
}

.butgroup button{
    width: 100%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    background-color: rgb(219, 227, 230);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    transition: all 0.3s ease;
}

.butgroup button:hover{
     background-color: rgba(176, 195, 251, 0.533);
      box-shadow:5px 5px 15px #504f4f;

}

.butgroup svg{
    background-color: transparent;
    stroke-width: 1px;
}
.butgroup h2{
    background-color: transparent;
}
h1{
   
    color: black;
    border-top: 1px solid #888;
    font-size: xx-large;
    
}
.charts{
    width: 80%;
    height:50%;
    margin-bottom: 70px;

}
.cha{
    padding: 10px;
}
.chna,.da{
    width: 100%;
    height: 60px;
    margin-bottom: 3px;
    color: #504f4f;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.cha span{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .cha{
    width: 80%;
    height: 7%;
    border-radius: 10px;
    text-justify: center;    
    border: none;
    background-color: rgb(202, 211, 223);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 0px;
    transition: all 0.3s ease;
}
.charts .cha:hover{
      background-color: rgba(172, 179, 189, 0.533);
      box-shadow:5px 5px 15px #504f4f;
}

.charts .cha:active{
      background-color: rgba(187, 208, 82, 0.533);
      box-shadow:5px 5px 15px #504f4f;
}