.sidebar{
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    border-right: 1px solid rgb(170, 168, 168);
    height: 96vh;
   
}

h1{
    width: 80%;
    height: 3%;
    margin: 10px;
    color: rgb(184, 186, 187);
}

.pages{
    width: 100%;
    height: 20%;
    
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}
.butgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
}

.logo{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0%;
    font-size: x-large;
   
}

.butgroup button{
    width: 100%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.butgroup button:hover{
      background-color: rgb(215, 192, 158);

}

.butgroup svg{
    background-color: transparent;
    stroke-width: 1px;
}
.butgroup h2{
    background-color: transparent;
}

.charts{
    width: 80%;
    height:50%;
    margin-bottom: 70px;

}
.cha{
    padding: 10px;
}
.chna,.da{
    width: 100%;
    height: 60px;
    margin-bottom: 3px;
    color: #504f4f;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
 .cha{
    width: 80%;
    height: 7%;
    border-radius: 10px;
    text-justify: center;    
    border: none;
    background-color: rgb(233, 213, 189);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px 0px;
    transition: all 0.3s ease;
}
.charts .cha:hover{
      background-color: rgba(158, 133, 97, 0.533);
      box-shadow:5px 5px 15px #504f4f;
}