.back{
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.title{
    font-size: xx-large;
    width: 50%;
    letter-spacing: 3px;
    
}
.pre{
    display: flex;
    padding: 5px 0px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 9%;
    background-color:rgb(241, 205, 121) ;
    border-radius: 8px;
    transition: all 0.3s ease-in;

}

.tea{
    color: white;
    background-color: transparent;
    font-size: large;
    width: 60%;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pre:hover{
    color:black;
    background-color: rgb(229, 112, 112);
    box-shadow: 0px 0px 20px gray;
}

span{
    background-color: transparent;
    font-size: large;
    font-weight: 500;
    width: 100%;
}
.load{
    height: 35px;
    cursor: pointer;
    width: 35px;
    background-color: transparent;
    border-radius: 5px;
}