.back{
    height: 35px;
    width: 35px;
    background-color: rgb(238, 219, 184);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.title{
    font-size: xx-large;
    width: 50%;
    letter-spacing: 3px;
    
}
.pre{
    display: flex;
    padding: 5px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 10%;
    background-color:rgb(210,106,51) ;
    border-radius: 8px;

}

.tea{
    color: white;
    background-color: transparent;
    font-size: large;
    width: 60%;
    align-items: center;
}

span{
    background-color: transparent;
    font-size: large;
    font-weight: 500;
    width: 100%;
}
.load{
    height: 35px;
    cursor: pointer;
    width: 35px;
    background-color: rgb(238, 219, 184);
    border-radius: 5px;
}